h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #bc6c25;
  margin-top: 32px;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  text-transform: uppercase;
  text-align: center;
  padding: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 16px;
  background-color: #bc6c25;
  color: #fefae0;
}

button:hover {
  background-color: #dda15e;
}

.container {
  margin-top: 8px;
  border: 0.5px solid grey;
}

.container > div {
  display: flex;
}

div > .innerDiv {
  width: 20px;
  height: 20px;
}
